<div class="form-group">

  <div class="form-group">
    <label for="category">Category:</label>
    <select required class="form-control" name="category" {{action 'selectValue' on='change'}}>
      <option disabled selected> -- Select Category -- </option>
      <option value="bikes">Bikes</option>
      <option value="books">Books</option>
      <option value="clothes">Clothes</option>
      <option value="electronics">Electronics</option>
      <option value="office">Office</option>
    </select>
  </div>

  <label for="title">Title:</label>
  {{input
          class="form-control"
          id="title"
          placeholder="Title"
          value=item.title
          required="required"}}
</div>

<div class="form-group">
  <label for="body">Body:</label>
  {{textarea
          class="form-control"
          id="body"
          placeholder="Description"
          value=item.body
          required="required"}}
</div>

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Post Item
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
