<h2>{{model.title}}  </h2>
<div class="meta-line"></div>


<div class="single-item">
  <p class="location">{{model.location}}</p>

  <p>Description: {{model.body}}</p>
  <p>Near: {{model.address}}</p>

  {{contact-form submit="newConversation" item=model}}
</div>
