<h2>My Items</h2>
<div class="meta-line"></div>

<div class="my-items-list">
  {{#each model as |category|}}
    {{#each category.items as |item|}}
      {{#if item.editable}}
      <li>
        id: {{item.id}} - {{item.title}} ({{item.category.name}})
        <div class="my-items-buttons">
          <button class="btn btn-xs edit-button" {{action 'edit' item.id}}>Edit</button>
          <button class="btn btn-xs delete-button" {{action 'delete' item.id}}>Delete</button>
        </div>
      </li>
      {{/if}}
    {{/each}}
  {{/each}}
</div>
