<h2>
  {{conversation.name}}
</h2>
<div class="meta-line"></div>

<div class="conversation-messages-list">
  {{#if conversation.messages}}
    <ul>
      {{#each conversation.messages as |message|}}
        {{#if message.editable}}
          <li class="owner-message">{{message.body}}</li>
        {{else}}
          <li class="other-message">{{message.body}}</li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
</div>

<form {{action "submit" on="submit"}}>
  <input type="hidden" id="convo_id" value={{conversation.id}}/>
  <div class="form-group">
    {{textarea
            class="form-control"
            id="message-body"
            value=message.body
            required="required"
            placeholder="Write a message..."}}
  </div>

  <button type="submit" class="btn post-message-button">
    Send
  </button>
</form>
