<form {{action "submit" on="submit"}}>
  <div class="form-group">
    <label for="title">Title:</label>
    {{input
            class="form-control"
            id="title"
            placeholder="Title"
            value=item.title
            required="required"}}
  </div>

  <div class="form-group">
    <label for="location">Location:</label>
    {{input
            class="form-control"
            id="location"
            placeholder="e.g. Kendall Square"
            value=item.location
            required="required"}}
  </div>

  <div class="form-group">
    <label for="body">Body:</label>
    {{textarea
            class="form-control"
            id="body"
            placeholder="Description"
            value=item.body
            required="required"}}
  </div>

  <div class="form-group">
    <label for="address">Address/Cross Streets:</label>
    {{input
            class="form-control"
            id="address"
            placeholder="Address/Cross Streets"
            value=item.address}}
  </div>

  <button type="submit" class="btn edit-item-button">
    Save
  </button>

  <button class="btn cancel-button" {{action "back"}}>
    Cancel
  </button>
</form>
